
header {
    position: fixed;
    display: flex;
    top: 0;
    background: rgba(212, 161, 51, 0.8);
    /* background: transparent; */
    height : 8vh;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    z-index: 999;
    border-radius: 10px;
}



#desktop-nav {
    display: flex;
}

#mobile-nav {
    display: none;
}

@media screen and (max-width: 768px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: flex;
    }
}


header .hamburger-desktop {
    display: flex;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    
}

header h1 {
    font-size: 24px;
    
}
header h2 {
    font-size: 18px;
    
}

/*MOBILE BURGER*/
header .hamburger-mobile {
    position: flex;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: -15px;
}
/*CHECKBOX*/
.hamburger-mobile .toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 100%;
    opacity: 0; 
    z-index: 2;
    cursor: pointer;
    align-self: stretch;
}
.hamburger-mobile .hamburger {
    position: asbolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: .5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/*HAMBURGER LINE*/
.hamburger-mobile .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
    border-radius: 2px;
}
/*TOP AND BOTTOM LINES*/
.hamburger-mobile .hamburger > div::before,
.hamburger-mobile .hamburger > div::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
    border-radius: 2px;
}
/*MOVE ONE LINE ON THE BOTTOM*/
.hamburger-mobile .hamburger > div::after {
    top: 10px;
}
/*TOGGLE ANIMATE*/
.hamburger-mobile .toggle:checked + .hamburger > div {
    transform: rotate(135deg); 
}
/*TURN LINES INTO X*/
.hamburger-mobile .toggle:checked + .hamburger > div:before,
.hamburger-mobile .toggle:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}


/*SHOW MENU*/
.hamburger-mobile .toggle:checked ~ .menu {
    visibility: visible;
}


/*SHOW OVERLAY*/
.hamburger-mobile .toggle:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: .8s;
    
}
/*SHOW LINKS*/
.hamburger-mobile .toggle:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity .4s ease;
}
.hamburger-mobile .toggle:not(:checked) ~ .menu {
    visibility: hidden;
}
.hamburger-mobile .toggle:not(:checked) ~ .menu > div {
    transform: scale(0);
    transition-duration: 1s;
}
.hamburger-mobile .toggle:not(:checked) ~ .menu > div > div {
    opacity: 0;
    transition : opacity .4s ease;
}


.hamburger-mobile .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-mobile .menu > div {
    background: rgba(119, 76, 40, 0.5);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all .4s ease;
}
/*LINKS POSITION*/
.hamburger-mobile .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity .4s ease;
}

.hamburger-mobile .menu > div > div > ul > .burger-link {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.burger-link {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.selected-lang:before {
    display: flex;
    width: 32px;
    height: 32px;
    
}
.selected-lang {
    cursor: pointer;
    display: flex;
}
.selected-lang img {
    display: flex;
}

.lang-options {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-options ul {
    background-color: rgba(202, 185, 185, 0.4);
    border: 1px solid rgba(202, 185, 185, 0.8);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    position: absolute;
    top: 100%;
    left: 0;
    width: 32px;
    display: block;
}
.lang-options ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;   
}
.lang-options ul li a {
    color: black;
    width: 1rem;
    display: block;
    padding: 0;
    margin: 0;
}
.lang-options ul li a:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
}
.en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}
.bg:before{
    background-image: url(https://www.countryflags.io/bg/flat/32.png);
}

.cart {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.cart-items-counter {
    background: rgba(235, 12, 12, 0.7);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1.2rem;
    bottom: 0.5rem;
    font-size: 0.8rem;
    width: 1rem;
    font-weight: bold;
}




